<div class="container">
	<div class="row">
    	<svg width="800" height="640" #graphView></svg>
	</div>
    <div class="row" >
    	<form class="form-inline" style="padding-top:15px;">

    		<button class="btn btn-primary btn-sm mr-auto col-2" (click)="generate()" type="button" >New Graph</button>

    		<label class="mr-sm-2" [hidden]="timer" >Start: </label>
    		<select [(ngModel)]="startId" [hidden]="timer" class="form-control form-control-sm mr-sm-2" name="startId" (change)="onStartChange()">
			      <option *ngFor="let c of graph.nodes" [value]="c.id">{{c.id}}</option>
			</select>

			<label class="mr-sm-2" [hidden]="timer" >End: </label>
    		<select [(ngModel)]="endId" [hidden]="timer" class="form-control form-control-sm mr-sm-2" name="endId" (change)="onEndChange()" >
			      <option *ngFor="let c of graph.nodes" [value]="c.id">{{c.id}}</option>
			</select>

			<button class="btn btn-primary btn-sm" (click)="findPath()" [hidden]="timer" type="button" >Start</button>

			<label class="mr-sm-1" [hidden]="!timer" >Distance: </label>
			<input type="text" readonly [hidden]="!timer" class="form-control form-control-sm col-1 mr-2" [value]="distance" />
			
			<button class="btn btn-danger btn-sm mr-sm-2" (click)="stopFinding()" [hidden]="!timer" type="button" >Stop</button>
		</form>
	</div>
</div>