/* You can add global styles to this file, and also import other style files */
svg {
    border: 1px solid rgba(0, 0, 0, 0.226);
    margin-right: auto;
    margin-left: auto;
    display: block;
}

svg circle.node {
	fill: grey;
	stroke-width: 1px;
	stroke: black;
}

svg circle.start {
	fill: #f49e42;
	stroke-width: 1px;
	stroke: black;
}

svg circle.stop {
	fill: red;
	stroke-width: 1px;
	stroke: black;
}

svg line {
	stroke-width: 1;
	stroke: #E5E5E5;
}